html,body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
  }
  
.container{
    background-color: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-header{
    background: linear-gradient(115deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));
    padding: 2px;
}

.button{
    background-color: rgb(22, 22, 22);
    color:var(--btn-color)  ;
    padding: 1em 1.5em;
    border: 1px solid red;
    cursor: pointer;
    letter-spacing: 0.2em;
    font-family: inherit;
}

.button:hover{
    padding: 1.2em 1.6em;
    background-color: var(--btn-bg);
}

.button-header:hover{
    background: linear-gradient(230deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));
}